body {
    margin: 25px;
    padding: 0px;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



span{
    font-size: 75px;
    font-family: cursive;
}

h1 {
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

nav {
    margin-top: 25px;

}

a {
    text-decoration: none;
    margin-right: 9px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(115, 74, 197);
    text-transform: uppercase;
}

img {
    display: inline-block;
    height: 250px;
    width: 175px;
}

h2 {
    font-size: 25px;
    margin: 30px 0px 5px 0px;
    width: 60%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 20px 20px 45px grey;
    ;

}

th {
    padding: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightgreen;
}

td {
    padding: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightyellow;
}

div {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightyellow;
    float: right;
    width: 250px;
    border: 2px dashed lightsalmon;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 20px 20px 45px grey;
    ;

}